# Ignore the build directory and everything inside it
/build/

# Ignore the install directory and everything inside it
/install/

# Ignore object files globally, just in case they appear outside build directory
*.o
